@import '../../../../styles/variables';
:host {
    display: flex;
    align-items: center;
    justify-content: space-around;

    a {
        text-decoration: none;
        &:visited {
            color: $linkColor;
        }
    }
}